//main variables
$brand-lighter-color: #ADF2F7;
$brand-color: #67D2DF;
$brand-darker-color: #2E5D63;

$grandient-color: linear-gradient(to right, #59B5C0 0 33%, #67D2DF 33% 66%, #91E5ED 66%);

$secondary-lighter-color: #FCFBD9;
$secondary-color: #ECE81A;
$secondary-darker-color: #A9A417;


$secondary-color: #6c7ae0;
$header-start-color: #59B5C0;
//button variables
$button-primary-color: #EFEC40;
$button-secondary-color: #6c7ae0;

//input variables
$input-primary-color: #007bff;
$input-secondary-color: #474f88;

$error-color: #FF3E2F
