<section aria-labelledby="pricing-title" class="bg-amber-50 py-16 px-4 sm:px-6 lg:px-8 bg-secondary-light">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="lg:p-8">
                <h3 class="heading-md font-semibold mb-4 text-black">FREE</h3>
                <p class="text-black">
                    Pubblica Gratis il tuo annuncio e vendi casa senza provvigioni.
                </p>
            </div>
            <div class="lg:p-8">
                <h3 class="heading-md font-semibold mb-4 text-black">PRO</h3>
                <p class="text-black">
                    Professionalità a 360° gradi per vendere la tua casa.
                </p>
            </div>
            <div class="lg:p-8">
                <h3 class="heading-md font-semibold mb-4 text-black">EXCLUSIVE</h3>
                <p class="text-black">
                    Dai valore alla vendita con servizi esclusivi!
                </p>
            </div>
        </div>
    </div>
</section>