.dashed-line {
    background-image: linear-gradient(to right, #3C3D3E 50%, transparent 50%);
    background-size: 10px 100%;
    margin-right: 5px;
    margin-left: 5px;
    background-repeat: repeat-x;
}
.vertical-dashed-line {
    background-image: linear-gradient(to bottom, #3C3D3E 50%, transparent 50%);
    background-size: 100% 10px;
    margin-bottom: 15px;
    background-repeat: repeat-y;
}
.star-shape {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}