<div
  class="relative z-10 lg:h-[calc(100vh-124px)]"
  [ngClass]="{
    'bg-primary-light': theme === 'primary',
    'bg-primary-dark': theme === 'secondary',
    'bg-secondary-light': theme === 'yellow',
    'bg-secondary-grey': theme === 'grey',
  }"
>
  <div class="relative z-10 container mx-auto h-full px-4 sm:px-6 lg:px-8 hero-banner">
    @if (hasImage) {
      <img
        [src]="bgHero"
        alt="Mask"
        class="absolute hidden lg:block bottom-0 z-10 w-1/3 max-w-[440px] right-0"
      />
    }

    @if (hasVideo) {
      <video
        #videoPlayer
        [muted]="true"
        [loop]="true"
        [autoplay]="true"
        playsinline
        preload="metadata"
        class="absolute bottom-0 z-10 min-w-full min-h-full max-w-none hidden lg:block w-full"
      >
        <source
          [src]="bgHero"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    }

    <div class="absolute hidden md:block inset-0 z-0 max-w-[524px] max-h-full mx-auto">
      <svg
        width="100%"
        height="100%"
        viewBox="0 0 524 796"
        fill="none"
        preserveAspectRatio="xMidYMid slice"
      >
        <path
          d="M262 2.20115L260.38 0L0 219.789L0.486081 359.276L1.45826 358.461V796H108.721V268.132L202.049 189.543V796H309.393V178.945L415.279 268.132V796H522.542V358.461L523.514 359.276L524 219.789L263.62 0L262 2.20115Z"
          [attr.fill]="colors[theme] || colors.default"
        />
      </svg>
    </div>

    <!-- Content -->
    <div class="relative z-20 flex flex-col items-start justify-center h-full w-full lg:w-1/2 pt-6">
      <h1
        class="heading-xl font-bold mb-4 font-montserrat"
        [ngClass]="{
          'text-primary-dark': theme === 'primary' || theme === 'yellow' || theme === 'grey',
          'text-white': theme === 'secondary',
        }"
        [innerHTML]="title"
      >
      </h1>

      <h3
        class="md:block mt-4 mb-8 font-montserrat font-semibold heading-md"
        [ngClass]="{
          'text-primary-dark': theme === 'primary' || theme === 'yellow' || theme === 'grey',
          'text-white': theme === 'secondary',
        }"
        [innerHTML]="subtitle"
      >
      </h3>
      <div class="relative md:hidden w-full">
        <div class="relative flex min-h-[200px]">
          <div class="w-[130px] h-[200px] inset-0 z-0 absolute ml-6 lg:ml-0">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 524 796"
              fill="none"
              preserveAspectRatio="xMidYMid slice"
            >
              <path
                d="M262 2.20115L260.38 0L0 219.789L0.486081 359.276L1.45826 358.461V796H108.721V268.132L202.049 189.543V796H309.393V178.945L415.279 268.132V796H522.542V358.461L523.514 359.276L524 219.789L263.62 0L262 2.20115Z"
                [attr.fill]="
                  theme === 'yellow' ? '#F6F5C2' : theme === 'primary' ? '#9FECF2' : '#38747C'
                "
              />
            </svg>
          </div>

          @if (hasImage) {
            <img
              [src]="bgHero"
              alt="Mask"
              class="bottom-0 z-10 w-[150px] right-0 absolute"
            />
          }
          @if (hasVideo) {
            <img
              [src]="bgHeroImage"
              alt="Mask"
              class="bottom-0 z-10 w-[150px] right-0 absolute"
            />
          }
        </div>
      </div>

      @if (isPropertyBuy) {
        <div class="w-full mt-6 flex flex-col items-center gap-y-3 md:flex-row md:gap-x-4">
          <app-select
            [withBorder]="true"
            class="w-full md:min-w-32 md:max-w-52"
            label="Categoria"
            [control]="getControl"
            [options]="selectOptions"
            (selectionChange)="onSelectChange($event)"
          ></app-select>
          <span>a</span>
          <div class="w-full">
            <app-leaflet-input-autocomplete
              [redirectToAdvertisementsPage]="true"
              btnText="Cerca"
            ></app-leaflet-input-autocomplete>
          </div>
        </div>
      }

      @if (evaluationButton) {
        <div>
          <svg
            class="inline-block mr-4"
            width="16"
            height="39"
            viewBox="0 0 16 39"
            fill="none"
          >
            <g clip-path="url(#clip0_931_2947)">
              <path
                d="M8.00001 39L8 -26.4834"
                stroke="#1D5E6D"
                stroke-miterlimit="10"
              />
              <path
                d="M7.99805 39.0605C8.75641 34.1952 11.4863 31.701 15.9643 31.3086"
                stroke="#1D5E6D"
                stroke-miterlimit="10"
              />
              <path
                d="M8.00234 39.06C7.24398 34.1947 4.51412 31.7005 0.0361328 31.3081"
                stroke="#1D5E6D"
                stroke-miterlimit="10"
              />
            </g>
            <defs>
              <clipPath id="clip0_931_2947">
                <rect
                  width="16"
                  height="39"
                  fill="white"
                />
              </clipPath>
            </defs>
          </svg>

          <p class="text-sm text-primary-dark mb-6 inline-block">
            Inizia valutando il tuo immobile e scopri quanto risparmi vendendo con noi
          </p>
        </div>

        <div class="w-full max-w-md">
          <app-leaflet-input-autocomplete
            class="w-full h-20 md:w-3/4"
            [showDrawOption]="false"
            [label]="'Inserisci un indirizzo'"
            [redirectToPropertyEvaluation]="true"
            btnText="Valuta"
          ></app-leaflet-input-autocomplete>
        </div>
      }
    </div>
  </div>
</div>
