<div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
  <div class="bg-white rounded-sm w-full h-screen lg:h-fit lg:max-w-xl lg:mx-4 relative py-6 px-8">
    <!-- Close button -->
    <button
      (click)="closeModal()"
      class="absolute right-4 top-4 text-gray-500 hover:text-gray-700"
    >
      <svg
        class="h-6 w-6"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>

    <!-- Content -->
    <div class="p-6">
      <h2 class="heading-md font-bold text-primary-dark mb-2">Accedi a Immovare.it</h2>
      <p class="text-lg mb-6">Inserisci le credenziali per accedere.</p>

      <!-- Login Form -->
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="space-y-6"
      >
        <!-- Google Sign-In Button -->
        <div class="w-full flex justify-center mb-4"> </div>

        <div class="relative flex items-center justify-center">
          <div class="border-t border-[#97999B] w-full"></div>
          <span class="bg-white px-4 text-base text-[#97999B]">Oppure</span>
          <div class="border-t border-[#97999B] w-full"></div>
        </div>

        <div class="flex gap-y-4 flex-col">
          <!-- Email Input -->
          <app-input
            class="w-full"
            formControlName="email"
            type="email"
            label="Email"
            [errorMessage]="'Inserisci un indirizzo email valido'"
            [control]="getControl('email')"
          >
          </app-input>

          <app-input
            [label]="'Password'"
            [control]="getControl('password')"
            type="password"
          >
          </app-input>
        </div>

        <!-- Forgot Password -->
        <div class="text-center pb-4">
          <button
            (click)="modalService.openModal('resetPassword')"
            class="text-black underline text-sm"
          >
            Password dimenticata?
          </button>
        </div>

        <!-- Submit Button -->
        <app-button
          type="primary"
          size="md"
        >
          Conferma
        </app-button>
      </form>

      <!-- Registration Link -->
      <hr class="section-divider text-[#CBCCCD] my-8" />

      <div class="bg-[#F5F5F5] flex items-center justify-between px-4 py-5 rounded-sm">
        <p class="text-base text-black font-semibold">Nuovo su immovare.it?</p>

        <button
          (click)="onOpenRegistration()"
          class="px-4 py-2 border rounded-sm text-sm font-semibold text-black hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        >
          Registrati
        </button>
      </div>
    </div>
  </div>
</div>
