<div [ngClass]="{ 'bg-[#F6F6F6] p-4 lg:p-8': type === 'filled' }">
  <h3
    class="heading-sm font-semibold font-montserrat tracking-wider"
    [ngClass]="{ 'text-primary-dark': type === 'filled' }"
    >Newsletter
  </h3>
  <p class="mt-4 text-base">Iscriviti alla nostra newsletter.</p>
  <form class="mt-4 flex flex-col gap-2">
    <input
      type="email"
      placeholder="Email"
      class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
    />
    <div class="mt-2 mb-4">
      <label class="inline-flex items-start">
        <input
          type="checkbox"
          class="form-checkbox h-5 w-5 text-indigo-600"
        />
        <span class="ml-2 text-sm"
          >Dichiaro di aver preso visione dell’Informativa privacy resa ai sensi dell’Art. 13
          Regolamento Europeo 679/2016, e di rilasciare il consenso al trattamento dei dati
          personali per le finalità ivi indicate e di essere consapevole che, in mancanza di
          rilascio del consenso a tale trattamento, potranno trovare applicazione le disposizioni
          indicate nella predetta Informativa.</span
        >
      </label>
    </div>
    <app-button
      [text]="'Iscriviti'"
      [type]="'primary'"
      [hasBorder]="true"
      class="w-100 lg:w-fit"
      size="md"
    />
  </form>
</div>
